#main_container{
	width: 100%; 
}

#tweet_container{
	width: 50%; 
	margin: 0px auto; 
}

#logo{
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;  
	text-shadow: 1px 2px 2px #bbbaba;
	color: #303030;
}

#tweet_number {
	margin: 0px;
	text-align: center;
	color: #504f4f;
	text-shadow: 1px 2px 2px #bbbaba;
	font-family: 'Oswald', sans-serif;
}

#show_tweets_button {
	background: #F1F1F1;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#show_tweets_button:hover{
	cursor: pointer; 
}

#inner_tweet_container {
	-moz-box-shadow: inset 0px 0px 3px rgba(15, 15, 15, 0.14);
	-webkit-box-shadow: inset 0px 0px 3px rgba(15, 15, 15, 0.14);
	box-shadow: inset 0px 0px 3px rgba(15, 15, 15, 0.14);
	padding: 20px; 
	font-family: 'Open Sans Condensed', sans-serif;
}

.timeago{
	padding: 5px; 
}